@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Montserrat:wght@600&family=Playfair+Display+SC&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: rgb(30, 34, 43);
  /* background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}
#the-final-countdown {
  background: #333;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 5px black;
  padding: 1rem 0;
  font-size: 3rem;
  border: 1px solid #000;
}

/*
.tomo {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

a {
  border-radius: 2px;
  border-color: rgb(7, 79, 235);
  border-style: solid;
  color: gold;
} */

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */
