@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Montserrat:wght@600&family=Playfair+Display+SC&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(30, 34, 43);
  /* background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}
/*
.tomo {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

a {
  border-radius: 2px;
  border-color: rgb(7, 79, 235);
  border-style: solid;
  color: gold;
} */

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */


